h1 Traits

form(role="form", ng-submit="addTrait()")
  .input-group
    input.form-control(type="text", ng-model="newTrait.name", autofocus)
    span.input-group-btn
      button.btn.btn-default(type="submit") Add

div(ng-repeat="trait in traits")
  form(ng-hide="trait.editing")
    .input-group
      span.input-group-addon {{ trait.random }}
      input.form-control(ng-model="trait._cache.name", ng-dblclick="editingTrait(trait)", readonly)
      span.input-group-btn
        button.btn.btn-default(ng-click="editingTrait(trait)") Edit
        button.btn.btn-default(ng-click="removeTrait(trait)") Remove
  form(ng-submit="editTrait(trait)", ng-show="trait.editing")
    .input-group
      span.input-group-addon {{ trait.random }}
      input.form-control(ng-model="trait.name")
      span.input-group-btn
        .btn.btn-default(ng-click="cancelEditing(trait)") Cancel
        .btn.btn-default(ng-click="removeTrait(trait)") Remove
