<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>White Rabbit 2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>26</integer>
		</dict>
		<key>White Rabbit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EDE6D42F1BA7B2BC00C7AC8C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EDE6D4431BA7B2BD00C7AC8C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EDE6D44E1BA7B2BD00C7AC8C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
